@model COMP003B.SP25.FinalProject.FigueroaJ.Models.User

@{
    ViewData["Title"] = "Create User";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">Form is invalid. Check fields.</div>
}

<h1>Create User</h1>

@foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="text-danger">@modelError.ErrorMessage</div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio" class="control-label"></label>
        <input asp-for="Bio" class="form-control" />
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<!-- Validation Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
